<script type="text/javascript" src="/static/scr/settings/update_current_value.js"></script>

<div class="settings-element-edit">
    <p> {{ setting.path }} </p>
    <label>
        <input id="value-input-{{ setting.path }}" type="text" value="{{ setting.value }}">
    </label>
    <div class="box-h" id="editor-elements-{{ setting.path }}">
        <button>Reset</button>
        <button>Save</button>
    </div>
</div>

