{% extends "base.j2" %}

{% block main %}
    <div class="settings-editor">
    {% include "settings/settings_filter.j2" %}
    <div class="settings-list">
        {% for setting in settings %}
            {% include "settings/setting_edit_element.j2" %}
        {% endfor %}
    </div>
    <div class="box-h"><div class="spacer-flex-h"></div><button>Reset</button><button>Apply</button></div>
    </div>
{% endblock %}