<link rel="stylesheet" href="/static/sty/settings.css" />

<div class="settings-filter-main">
    <button>All</button>
    <button>App</button>
    <button>Bot</button>
    <button>Debugging</button>
    <button>Logging</button>
</div>