.settings-filter-main {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3px;
    flex-wrap: wrap;
    justify-content: left;
    box-sizing: border-box;
}

.settings-filter-main button{
    border-bottom: none;
    height: 25px;
    text-align: center;
}

.settings-editor {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    box-sizing: border-box;
    padding: 5px;
}

.settings-list {
    flex-grow: 1;
    height: 100%;
    max-height: 400px;
    border: 3px inset grey;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 3px;
    overflow-y: scroll;
}

.single-setting-editor {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    background-color: grey;
    padding-left: 3px;
    padding-right: 3px;
    gap: 3px;
}

.setting-editor-elements {
    gap: 3px;
    padding-left: 3px;
}

.single-setting-editor p{
    margin: 0;
    width: 100%;
}
.single-setting-editor span{
    display: flex;
    align-items: center;
}

.single-setting-editor label{
    max-width: 400px;
    width: 80%;
    height: 100%;
}
.single-setting-editor label input{
    width: 100%;
    height: 100%;
}